<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="transfer.mapper.TransferDetailOrderMapper">
    <resultMap id="TransferDetailOrderMapper" type="transfer.dto.TransferDetailOrderEntity">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="mchid" jdbcType="VARCHAR" property="mchid"/>
        <result column="outBatchNo" jdbcType="VARCHAR" property="outBatchNo"/>
        <result column="appid" jdbcType="VARCHAR" property="appid"/>
        <result column="outDetailNo" jdbcType="VARCHAR" property="outDetailNo"/>
        <result column="detailId" jdbcType="VARCHAR" property="detailId"/>
        <result column="detailStatus" jdbcType="VARCHAR" property="detailStatus"/>
        <result column="transferAmount" jdbcType="VARCHAR" property="transferAmount"/>
        <result column="transferRemark" jdbcType="VARCHAR" property="transferRemark"/>
        <result column="failReason" jdbcType="INTEGER" property="failReason"/>
        <result column="openid" jdbcType="INTEGER" property="openid"/>
        <result column="userName" jdbcType="VARCHAR" property="userName"/>
    </resultMap>

    <select id="query" resultType="transfer.dto.TransferDetailOrderEntity">
        select *
        from transfer_detail_order
        where mchid = #{mchid}
          and outDetailNo = #{outDetailNo}
          and outBatchNo = #{outBatchNo}
    </select>
    <select id="find" resultType="transfer.dto.TransferDetailOrderEntity">
        select *
        from transfer_detail_order
        where mchid = #{mchid}
          and outBatchNo = #{outBatchNo}
    </select>
    <insert id="create" parameterType="transfer.dto.BatchTransferOrderEntity">
        insert into transfer_detail_order (mchid, outBatchNo, appid, outDetailNo, transferAmount,
                                           transferRemark, openid, userName, detailStatus)
        values (#{mchid}, #{outBatchNo}, #{appid}, #{outDetailNo}, #{transferAmount},
                #{transferRemark}, #{openid}, #{userName}, "INIT")
    </insert>
    <update id="update" parameterType="transfer.dto.BatchTransferOrderEntity">
        update transfer_detail_order
        set detailStatus=#{detailStatus},
            failReason=#{failReason}
        where mchid = #{mchid}
          and outDetailNo = #{outDetailNo}
    </update>
</mapper>